---
import Layout from "../utils/Layout.astro";
---
<Layout title="404 Not Found" description="That wasn't supposed to happen!">
    <div class="wrapper">
        <h1>
            That wasn't supposed to happen! What went wrong?
        </h1>
    </div>
</Layout>

<style lang="scss">
    :root {

    }

    .wrapper {
        display: flex;
        flex-direction: column
    }
</style>