---
import Layout from "../utils/Layout.astro";
---
<Layout title="404 Not Found" description="That wasn't supposed to happen!">
    <div>
        <h1>
            That wasn't supposed to happen! What went wrong?
        </h1>
    </div>
</Layout>

<style lang="scss">

</style>