---
---

<footer>
    <div class="disclaimer">
        <span>
            Nabi is licensed under the Polyform 1.0 Shield License.
            Discord is a trademark of Discord Inc. Nabi is not affiliated
            nor endorsed by Discord Inc.
        </span>
    </div>
</footer>

<style lang="scss">
    .disclaimer {

    }
</style>