---
---

<nav>
    <div>
        <span>
            idk what to put here lol
        </span>
    </div>
</nav>

<style lang="scss">
    nav {
      display: flex;
      align-content: center;
    }
</style>